.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3373C8;
  height: 90px;
  width: 100%;
  text-align: center;
  color: #F3F8FF;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .app-footer {
    font-size: 12px;

  }}
