<main>
  <section class="meus-dados">
    <h1 class="nome">LEONARDO DE ALMEIDA CHOU </h1>
    <p class="matricula"> ASSISTENTE EM ADMINISTRACAO </p>
  </section>

<section class="bolsistas">
  <div class="filter-bolsista">
    <form>
      <label>Filtrar:</label>

      <select>
        <option value="id">ID</option>
        <option value="nome" selected>Nome</option>
        <option value="matricula">Matrícula</option>
        <option value="situacao">Situação</option>
      </select>

      <div class="search-box">
        <img src="./../../assets/icon-lupa.svg" alt="Buscar">
        <input type="search" placeholder="Procurar">
      </div>

      <button type="submit">Buscar</button>
    </form>
  </div>
</section>


</main>
