<header class="app-header">
  <div class="logo">
    <img src="../../../assets/logo.png" alt="logo">
    <p class="dimap">
      <span class="full">DIMAp | SPE - Sistema de Ponto Eletrônico</span>
      <span class="short" title="DIMAp | SPE - Sistema de Ponto Eletrônico">DIMAp | SPE</span>
    </p>
  </div>
  <ul class="routes-icons">
    <li><a routerLink="/"> <img src="../../../assets/icon-home.svg" alt="Home"> </a></li>
    <li><a routerLink="/meus-dados" title="Meus dados"> <img src="../../../assets/icon-perfie.svg" alt="Perfil"> </a></li>
    <li><img src="../../../assets/icon-loguot.svg" alt="Logout"></li>
  </ul>
</header>
