.logo {
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: #EBF4FF;
  padding: 15px 20px;
  margin-top: 3px;
  color: #3373C8;
}

.logo img {
  height: 32px;
}

.dimap {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}


.dimap .short {
  display: none;
}
.dimap .full {
  display: inline;
}

section{
  width:100%;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
