<header>
   <div class="logo">
    <img src="../../../assets/logo.png" alt="logo">
    <p class="dimap">
      <span class="full">DIMAp | SPE - Sistema de Ponto Eletrônico</span>
      <span class="short" title="DIMAp | SPE - Sistema de Ponto Eletrônico">DIMAp | SPE</span>
    </p>
  </div>
</header>
<section class="login">
<form action="" method="post">
 <label for="">nome de usuario:</label>
 <input type="text" name="" id="">
<label for="">senha:</label>
<input type="password" name="" id="">
<button type="submit">Entrar</button>
</form>

</section>
