<main>
  <section class="meus-dados">
    <h1 class="nome">LEANDRO ANDRADE DE ARAUJO</h1>
    <p class="matricula">20240019400</p>
    <p class="email">leandro.andrade&#64;dimap.ufrn.br</p>
  </section>
  <section class="horas-feitas-filtro">
    <div class="filtro">
      <div class="mes"> <b>Mês:</b>
          <select>
        <option value="jan">Janeiro</option>
        <option value="fev">Fevereiro</option>
        <option value="mar">Março</option>
        <option value="abr">Abril</option>
        <option value="mai">Maio</option>
        <option value="jun">Junho</option>
        <option value="jul" selected>Julho</option>
        <option value="ago">Agosto</option>
        <option value="set">Setembro</option>
        <option value="out">Outubro</option>
        <option value="nov">Novembro</option>
        <option value="dez">Dezembro</option>
      </select>
      </div>
    <div class="ano"><b>Ano:</b>
      <select>
      <option value="2024">2024 </option>
      <option value="2025" selected>2025</option>
      <option value="2026">2026</option>
      </select>
    </div>
    </div>
  </section>
 <section class="tabela-horas">
      <div class="table-card">
        <div class="table-title">CH Realizada</div>
        <div class="table-body">
          <table>
            <thead>
              <tr>
                <th>Data</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Duração</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>03/07/2025</td>
                <td>13:00</td>
                <td>–</td>
                <td>–</td>
              </tr>
              <tr>
                <td>02/07/2025</td>
                <td>13:30</td>
                <td>16:40</td>
                <td>3:10</td>
              </tr>
              <tr>
                <td>02/07/2025</td>
                <td>07:05</td>
                <td>10:30</td>
                <td>2:25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section class="tabela-justificadas">
      <div class="table-card">
        <div class="table-title">Horas Justificadas</div>
        <div class="table-body">
          <table>
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Data</th>
                <th>Duração</th>
                <th>Status</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Erro técnico</td>
                <td>01/07/2025</td>
                <td>4:00</td>
                <td><span class="badge badge-success">Deferido</span></td>
                <td><a class="action-link" href="#">Abrir</a></td>
              </tr>
              <tr>
                <td>Atendimento médico</td>
                <td>28/06/2025</td>
                <td>2:30</td>
                <td><span class="badge badge-analyze">Em análise</span></td>
                <td><a class="action-link" href="#">Abrir</a></td>
              </tr>
              <tr>
                <td>Problema pessoal</td>
                <td>25/06/2025</td>
                <td>3:15</td>
                <td><span class="badge badge-denied">Indeferido</span></td>
                <td><a class="action-link" href="#">Abrir</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
</main>
